<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidi.developer.headthapp">
    <!-- Step 1: Add the following permission to the app -->
    <uses-permission android:name="android.permission.USE_BIOMETRIC" /> <!-- Step 2: This permission is depreciated in Android P -->
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />

    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" /> <!-- permissions to access the location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
<!--    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> &lt;!&ndash; till here &ndash;&gt;-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="androidi.developer.headthapp.NotificationCode.App"
        android:allowBackup="true"
        android:icon="@drawable/logom"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/logom"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name="androidi.developer.headthapp.Covid.CovidCaller">

        </activity>
<!--        <activity android:name=".Covid.SearchResults" />-->
<!--        <activity android:name=".Covid.SearchHelp" />-->
<!--        <activity android:name=".Covid.Volunteer" />-->
<!--        <activity android:name=".Covid.CovidMain" />-->
        <activity android:name="androidi.developer.headthapp.ApiMethods.Verifier" />
        <activity android:name="androidi.developer.headthapp.NotificationsDir.NotificationLayout" />
        <activity android:name="androidi.developer.headthapp.WiproId" />
        <activity android:name="androidi.developer.headthapp.Setting" />
        <activity android:name="androidi.developer.headthapp.Qr.QrProfileDoctor" />
        <activity android:name="androidi.developer.headthapp.Prescription.PrescriptionsView" />
        <activity android:name="androidi.developer.headthapp.Report.ReportView" />
        <activity android:name="androidi.developer.headthapp.Qr.QRprofile" />
        <activity android:name="androidi.developer.headthapp.Qr.QRotp" />
        <activity android:name="androidi.developer.headthapp.Qr.QrScanner" />
        <activity android:name="androidi.developer.headthapp.Qr.QRone" />
        <activity android:name="androidi.developer.headthapp.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="androidi.developer.headthapp.Prescription.PrescriptionAdd" />
        <activity android:name="androidi.developer.headthapp.Report.ReportAdd" />
        <activity android:name="androidi.developer.headthapp.Prescription.Prescriptions" />
        <activity android:name="androidi.developer.headthapp.Report.ReportActivity" />
        <activity android:name="androidi.developer.headthapp.Profile" />
        <activity android:name="androidi.developer.headthapp.NotificationsDir.Notifications" />
        <activity android:name="androidi.developer.headthapp.HealthCart" />
        <activity android:name="androidi.developer.headthapp.Nominations" />
        <activity android:name="androidi.developer.headthapp.ProfileUpdate" />
        <activity android:name="androidi.developer.headthapp.EmergencyContacts" />
        <activity android:name="androidi.developer.headthapp.MainActivity" />
        <activity android:name="androidi.developer.headthapp.LoginUser" />

        <meta-data
            android:name="com.google.android.gms.vision.DEPENDENCIES"
            android:value="barcode" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name="androidi.developer.headthapp.NotificationCode.FromNotificationclass"
            android:directBootAware="true"
            android:enabled="false"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name="androidi.developer.headthapp.LoggerService.newService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name="androidi.developer.headthapp.LoggerService.NotificationServiceCovid"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="androidi.developer.headthapp.NotificationCode.NotificationReciever" />

        <service
            android:name="androidi.developer.headthapp.Schedulers.BlukRaiser"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>